.folder-header-container {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.icon--svg {
    width: 20px;
    height: 20px;
    margin: 7px 0;
    color: black;
    fill: black;
}

.folder-name {
    margin-left: 5px;
    margin-top: 7px;
}

.folder-header {
    margin-left: 10px;
}
.folder-header-container {
    cursor: pointer;
    padding: 0 10px;
}
.folder-header-container:hover{
   background-color: wheat;
}


.display-none {
    display: none;
}
